{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}

<div class="center error-wrap">
    

    <figure>
        <img src="{{ asset('img/global/LogoTofBox.png' ) }}" alt="img wild code school">
    </figure>
    <div>
        <h1>Oops !</h1>
        <h2>La page que vous demandez n'existe pas, retour à <a class="blue" href="path('home')}}">l'accueil</a> ? </h2>
    </div>

</div>



{% endblock %}
